

/* =========================
   ===   General Stuff ====
   ========================
*/
.brn-container {
	max-width: 978px;
	margin: 0 auto;
}
body{
	margin: 0px;
}
.brn-header{
	background-image: url(../images/backgrounds/01.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
/* =========================
   ===   Header ====
   ========================
*/

/* ==== Very top bar ======= */

.brn-header .brn-very-top-bar {
	min-height: 25px;
	padding: 10px;
}
.brn-header .brn-very-top-bar .vtb-nav,
.brn-header .brn-very-top-bar .vtb-contact {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.brn-header .brn-very-top-bar .vtb-nav {
	float: left;
}
.brn-header .brn-very-top-bar .vtb-nav li a i {
	color: red;
	font-size: 15px;

}
.brn-header .brn-very-top-bar .vtb-contact {
	float: right;
	padding-top: 2px; 
}

.brn-header .brn-very-top-bar .vtb-nav li,
.brn-header .brn-very-top-bar .vtb-contact li {
	display: inline-block;
	color: #7F7F7F;
	padding-right: 15px;
	border-right: 1px solid rgba( 0, 0, 0, 0.2);
	margin-right: 10px;

}

.brn-header .brn-very-top-bar .vtb-nav li:last-of-type,
.brn-header .brn-very-top-bar .vtb-contact li:last-of-type {
	border-right: none;

}
.brn-header .brn-very-top-bar .vtb-nav li a,
.brn-header .brn-very-top-bar .vtb-contact li a {
	color: inherit;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 22px;
	text-decoration: none;
	text-transform: uppercase;
}
.brn-header .brn-very-top-bar .vtb-nav li a i,
.brn-header .brn-very-top-bar .vtb-contact li a i {
	margin-right: 5px;
}

/* ==== Navbar ======= */
.brn-header .brn-navbar {
	min-height: 80px;
	background-color: rgba(0, 0, 0, 0.7);
}
.brn-header .brn-navbar .brn-logo {
	float: left;
	display: inline-block;
	color: #fff;
}
.brn-header .brn-navbar .brn-navbar-menu {
	float: right;
	display: inline-block;
}
.brn-header .brn-navbar .brn-navbar-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.brn-header .brn-navbar .brn-navbar-menu ul li {
	display: inline-block;	
	margin-right: 15px;
	padding-top: 28px
}
.brn-header .brn-navbar .brn-navbar-menu ul li a {
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s ease-in-out;
}

.brn-header .brn-navbar .brn-navbar-menu ul li a:hover {
	font-family: Verdana, Geneva, sans-serif;
	color: #D01818;
    transition: .3s ease-in-out;
} 



/* ==== Big title section ======= */
.brn-big-title-section{
	padding: 150px 0;
}
.brn-big-title-section .brn-bts-subtitle {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
}
.brn-big-title-section .brn-bts-title {
	text-transform: uppercase;
	color: #fff;
	font-size: 40px;
}
.brn-big-title-section .brn-bts-description{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #fff;
	margin-bottom: 80px;

}
.brn-big-title-section .bts-btn {
	float: left;
	display: inline-block;
}
.brn-big-title-section .bts-btn ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.brn-big-title-section .bts-btn ul li {
	display: inline-block;
}
.brn-big-title-section .bts-btn ul li a {
	padding: 15px 25px 17px;
	color: white;
	border: 1px solid #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s ease-in-out;
}


.brn-big-title-section .bts-btn .btn-1 {
	
	margin-right: 20px;
}
.brn-big-title-section .bts-btn .btn-1 a {
	color: white;
}
.brn-big-title-section .bts-btn .btn-1 a:hover {
	background-color: #D01818;
	border-color: #D01818;
}
.brn-big-title-section .bts-btn .btn-2 {
	
}
.brn-big-title-section .bts-btn .btn-2 a {
	background-color: #D01818;
	border-color: #D01818;
	color: white;
}
.brn-big-title-section .bts-btn .btn-2 a:hover {
	background-color: transparent;
	border-color: #fff;
	
}
/* =========================
   ===  End of Header ====
   ========================
*/

/* =========================
   ===   About Section ====
   ========================
*/

.brn-about {
	padding: 80px 0;

}
.brn-about .brn-about-title {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	text-transform: uppercase;
}
.brn-about .brn-about-description {
	margin: 0 auto 80px;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-align: center;

}
.brn-about .brn-about-content {
	display: inline-block;
	max-width: 49%;
}
.brn-about .brn-about-card {
	display: inline-block;
	max-width: 49%;
}
.brn-about .brn-about-image {
	display: inline-block;
	max-width: 49%;
}
.brn-about .brn-about-image img {
	max-width: 100%;
}
